@{
    ViewBag.Title = "EAM-Oficinas";
}

<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row">
        <div class="col">

            

                @*<div class="card-header">

                <div>
                   <div class="d-flex flex-row pull-right text-right">
                        <a href="http://facebook.com/elavisomagazine" class="mr-2 fs-xxl text-white" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="http://twitter.com/elavisomagazine" class="mr-2 fs-xxl text-white" target="_blank">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                        <a href="https://www.instagram.com/stories/elavisomagazine/" class="mr-2 fs-xxl text-white" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/el-aviso-magazine" class="mr-2 fs-xxl text-white" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>

                        <img alt="logo" class="m-b m-t-md" src="~/assets/elavisosmall.png" style="width:64px; height:auto">

                    </div>
                *@
                <div class="card-body">

                    <div class="row mb-2">

                        <div class="col-md-3">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="ml-3">
                                            <h6 class="text-danger">Oficina Principal</h6>
                                            <span class="font-weight-semibold">4850 Gage Ave.</span><br>
                                            <span class="font-weight-semibold">Bell, CA 90201 </span><br>
                                            <span class="font-weight-semibold">Tel: (323) 586-9199</span><br />
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">

                                <div class="card-body">
                                    <h6 class="text-info"> Oficina San Fernando</h6>
                                    <span class="font-weight-semibold">12970 Branford St. Unit "C"</span><br />
                                    <span class="font-weight-semibold">Arleta, CA 91331</span><br />
                                    <span class="font-weight-semibold">Tel: (818) 766-1999</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">

                                <div class="card-body">
                                    <h6 class="text-warning"> Oficina Orange County</h6>
                                    <span class="font-weight-semibold">1524 W. 5th St.</span><br />
                                    <span class="font-weight-semibold">Santa Ana, CA 92703</span><br />
                                    <span class="font-weight-semibold">Tel: (714) 263-0399</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">

                                <div class="card-body">
                                    <h6 class="text-success">Oficina Inland Empire</h6>
                                    <span class="font-weight-semibold">125 N. Laurel Ave.</span><br />
                                    <span class="font-weight-semibold">Ontario, CA 91762</span><br />
                                    <span class="font-weight-semibold">Tel: (909) 509-4098</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row m-1">
                        <div class="col card mb-5">
                            <div class="card-body">
                                <section id="map">
                                    <div id="map1" style="height: 360px">
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="row bg-ca-red-lighter text-white m-1 p-1">
                        <div class="col-md-4  border-right text-center">
                            <span>Area Geograficas </span><br /> <strong>8</strong>
                        </div>
                        <div class="col-md-4 border-right text-center">
                            <span>Publicaciones Semanales </span> <br /><strong>325 000</strong>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="text-center">Areas Publicación </span><br /> <strong>14</strong>
                        </div>

                    </div>

                </div>


           
        </div>
        
    </div>
</div>


@section scripts {


    @*<script src="~/assets/vendor/libs/gmaps/gmaps.js"></script>*@
    <script src="~/assets/dist/js/miscellaneous/jqvmap/jqvmap.bundle.js"></script>


    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_hhPgPpsdY1CVWT3qtLFQwCBDOgwAe6Y">
    </script>

    <script>

        // When the window has finished loading google map
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Options for Google map
            // More info see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions

            var myLatLng = { lat: 33.9768972, lng: -118.1812077 };

            var mapOptions1 = {
                zoom: 14,
                center: new google.maps.LatLng(33.9768972, -118.1812077)
                , mapTypeId: google.maps.MapTypeId.ROADMAP
            };



            // Get all html elements for map
            var mapElement1 = document.getElementById('map1');

            // Create the Google Map using elements
            var map1 = new google.maps.Map(mapElement1, mapOptions1);

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map1,
                title: 'El Aviso Magazine. Oficina Principal: 4850 Gave Ave Bell CA 90201'
            });

        }

    </script>

    <script>

        $(document).ready(function () {

            PageTitle('pageTitle', 'fa-2x fal fa-home', 'Home', 'EAM General Information');
            $('html').addClass('layout-collapsed');

        });

    </script>
}
